@import "bootstrap";

.center {
  text-align: center;
}

body {
  background-color: #cccccc;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #828282	;
  height: 10vh;
}

.navbar-default .navbar-brand {
  font-family: sans-serif, serif;
  font-weight: 600;
  color: #e1b600;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #cccccc;
}


.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
